.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.bio span {
    color: var(--red);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.avatar {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.texts h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons img {
    height: 50px;
}

.expand:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sql {
    font-size: 70px;
    color: var(--primary);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--red);
    text-decoration: none;
    border-radius: 15px;
}

.button:hover {
    background-color: var(--primary);
}
