.page404 {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title2 {
    padding-top: 2rem;
    text-align: center;
}

.texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.big_text, .red_text {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.red_text {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .big_text {
        font-size: 150px;
    }

    .red_text {
        font-size: 1rem;
    }
}